:root {
    --main-bg-color: #fff;
    --odd-bg-color: #fafafa;
    --footer-bg-color: #1A1A1A;
    --p-color: #1A1A1A;
    --alt-p-color: #fff;
    --button-color: #476C2F;
    --line-color: #FAC710;
}

html {
    scroll-behavior: smooth;
}

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap);

body {
    background-color: var(--main-bg-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 8vh;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-bg-color);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

header > *:not(:last-child), .footerDescription > *:not(:last-child) {
    margin-right: 0;
    margin-left: 0;
} 

header > :nth-last-child(2), .footerDescription > :nth-last-child(2) {
    margin-right: auto;
    margin-left: 0;
}

#hamburgerMenu {
    display: none;
}

.overlay {
    display: none;
}

main {
    transform: translateY(8vh);
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:first-child {
    height: 92vh;
}

#projects, #applications, #contact { /* REMOVE APPLICATIONS TAG WHEN REVERTING TO ACTUAL PORTFOLIO */
    min-height: 110vh !important;
}

section:nth-child(odd) {
    background-color: var(--odd-bg-color);
}

footer {
    height: 20vh;
    background-color: var(--footer-bg-color);
    color: #fff;
    padding: 4vh 5vw 3vh 4vw;
}

footer p {
    color: var(--alt-p-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
}

h3 {
    margin-top: 30px;
}

p, a, ul, button, label, input, textarea {
    font-family: "Source Sans Pro", sans-serif;
    padding-bottom: 20px;
    line-height: 1.5;
}

p {
    color: var(--p-color);
}

a:hover {
    color: var(--line-color);
}

button a {
    text-decoration: none;
    color: var(--alt-p-color);
}

button a:hover {
    color: var(--p-color);
}

button, input[type=button] {
    padding: 15px 50px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--alt-p-color);
}

button:hover, input[type=button]:hover {
    background-color: var(--line-color);
    color: var(--p-color);
}

button:hover {
    background-color: var(--line-color);
}


/* HEADER STYLES */

#header-line {
    background-color: var(--line-color);
    width: 5vw;
    height: 2vh;
    position: relative;
}

header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translateX(-5px);
}

header h1 {
    margin-left: 1vw !important;
    padding-bottom: 0;
}

nav {
    margin-right: 5vw;
}

nav a {
    text-decoration: none;
    color: var(--p-color);
}

nav a:nth-child(2) {
    margin: 4vw;
}

/* CONTAINER STYLES */
.container {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
}

.intro {
    text-align: center;
    margin-bottom: 3vh;
}

.description {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

#aboutImage /*, .projectImage */ { /* DO NOT DELETE, IMPACTS PROJECT SECTION */
    width: 250px;
    height: 250px;
    background-image: url(https://raw.githubusercontent.com/FourStringFunk/cHarris-Portfolio/main/assets/images/Photos/headshot.jpeg);
    background-position: center -75px;
    border-radius: 50%;
    margin-right: 2vw;
}

#aboutImage img /* , .projectImage img */ { /* DO NOT DELETE, IMPACTS PROJECT SECTION */
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

#aboutDescription /* , .projectDescription */ { /* DO NOT DELETE, IMPACTS PROJECT SECTION */
    width: 70%;
}

.languagesList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.languageItem {
    align-items: center;
    margin: 0 10px 10px 0;
    padding: 20px;
    background-color: var(--odd-bg-color);
    border-radius: 10px;
}

.languageItem p {
    padding: 0;
}

/* APPLICATION STYLES */
.applicationContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh 1vw;
}

.applicationContainer div:first-child {
    flex: 2 1 100%;
}

.applicationContainer div:not(:first-child) {
    flex: 3 1 33%;
}

.application {
    border: 2px solid var(--footer-bg-color);
    height: 25vh;
}

#image1:hover, #image2:hover, #image3:hover, #image4:hover, #image5:hover {
    background-color: var(--main-bg-color);
    opacity: 0.75;
}

#image1 {
    background-image: url(https://raw.githubusercontent.com/FourStringFunk/cHarris-Portfolio/main/assets/images/Photos/astro.jpeg);
    background-size: cover;
    background-position: bottom;
}

#image2 {
    background-image: url(https://raw.githubusercontent.com/FourStringFunk/cHarris-Portfolio/main/assets/images/Photos/forest.jpeg);
    background-size: cover;
    background-position: center;
}

#image3 {
    background-image: url(https://raw.githubusercontent.com/FourStringFunk/cHarris-Portfolio/main/assets/images/Photos/kayak.jpeg);
    background-size: cover;
    background-position: center;
}

#image4 {
    background-image: url(https://raw.githubusercontent.com/FourStringFunk/cHarris-Portfolio/main/assets/images/Photos/sanddunes.jpeg);
    background-size: cover;
    background-position: top;
}

#image5 {
    background-image: url(https://raw.githubusercontent.com/FourStringFunk/cHarris-Portfolio/main/assets/images/Photos/Sirius.jpeg);
    background-size: cover;
    background-position: center -75px;
}

.applicationText {
    background-color: var(--footer-bg-color);
    padding: 5px;
    transform: translateY(150px);
    width: 35%;
}

.applicationText a {
    text-decoration: none;
    color: var(--alt-p-color);
}

.applicationText a:hover {
    color: var(--line-color);
}

.textVariation {
    width: 50%;
}

.application h3, .application p {
    margin: 0;
    padding: 5px 5px;
    padding-left: 10px;
    color: var(--alt-p-color);
}


/* SECTION LINE STYLES */

.sectionLine {
    margin: 3vh 0 3vh 0;
    width: 65%;
    height: 0.25vh;
    background: rgb(250,199,16);
    background: linear-gradient(90deg, rgba(250,199,16,0.22032563025210083) 0%, rgba(250,199,16,1) 50%, rgba(250,199,16,0.22872899159663862) 100%);
} 

/* FORM STYLES */

#formContainer {
    width: 65%;
    padding: 5% 5% 10px 5%;
    background-color: var(--odd-bg-color);
    border-radius: 5px;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    padding: 0;
}

input {
    margin-bottom: 25px;
    border-radius: 5px;
}

input::placeholder {
    transform: translateY(10px);
    padding-left: 5px;
}

input:focus::placeholder {
    color: transparent;
}

textarea::placeholder {
    transform: translateY(10px);
    padding-left: 5px;
}

input:focus::placeholder {
    color: transparent;
}

input[type=button] {
    margin-top: 25px;
}

/* FOOTER STYLES */
.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.footerDescription {
    display: flex;
    align-items: center;
}

footer img {
    height: 50px;
    width: 50px;
    margin-right: 1vw;
    border-radius: 50%;
    background-color: var(--footer-bg-color);
}

#footerDescription {
    width: 35%;
    margin-left: 2vw;
    align-items: center;
}

#footerDescription h4, #social h4 {
    padding-bottom: 5px;
}

.footerDescription {
    text-decoration: none;
}

#footerDescription p {
    padding: 0;
}


.centerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* RESPONSIVE DESIGN */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

@media only screen and (max-width: 1024px) {
    /* UNIVERSAL STYLES */
    section {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 80vw;
    }

    .intro {
        margin: 2vh 1vh;
    }

    /* ABOUT ME STYLES*/

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 !important;
        padding: 0;
    }

    #aboutImage {
        margin-bottom: 2vh;
    }

    #aboutDescription {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #aboutDescription h2, #aboutDescription p, #aboutDescription button {
        text-align: center;
        margin-bottom: 10px;
    }

    .languagesList {
        margin-bottom: 2vh;
        justify-content: center;
    }
}

@media only screen and (max-width: 845px) {
    /* HEADER STYLING*/

    h1 {
        font-size: 14px;
    }

    h3 {
        padding: 0;
        text-align: center;
    }

    nav a {
        font-size: 10px;
    }

    .container {
        padding: 2vh 2vh;
        width: 100vw;
    }

    /* ABOUT ME STYLING */
    .languageHeader {
        font-size: 12px;
    }

    .languagesList {
        display: flex;
        flex-wrap: wrap;
    }

    .languageItem {
        flex: 1;
    }

    /* APPLICATIONS STYLING */
    .applicationContainer {
        display: flex;
        width: 80vw;
    }

    .applicationText {
        background-color: var(--footer-bg-color);
        width: 100%;
        padding: 0 0 5px 0;
    }

    .applicationText H3 {
        font-size: 14px;
    }

    .applicationText p {
        font-size: 10px;
        text-align: center;
        padding: 0;
    }

    /* FORM STYLING */
    .formContainer {
        width: 100%;
    }

    /* FOOTER STYLING */
    footer {
        min-height: 45vh;
    }
    .footerContainer, .footerDescription, #social, .centerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footerDescription {
        margin-top: 10px;
    }

    #footerImage, #footerDescription {
        text-align: center;
        width: 100%;
    }

    #social {
        margin-top: 25px;
    }

    #social h4 {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 668px) {
    /* insert hamburger menu code here */
    #contact {
        height: 145vh;
    }

    #applications {
        height: 125vh;
    }

    footer {
        min-height: 50vh;
    }

    /* APPLICATIONS STYLING */
    .applicationContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .applicationText {
        transform: translateY(121px);
    }
}
    
    @media only screen and (max-width: 480px) {
        /* insert hamburger menu code here */
        #contact {
            height: 145vh;
        }
    
        #applications {
            height: 125vh;
        }
    
        footer {
            min-height: 50vh;
        }
    
        /* APPLICATIONS STYLING */
        .applicationContainer {
            display: flex;
            flex-wrap: wrap;
        }
    
        .applicationText {
            transform: translateY(121px);
        }
    }